@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 3.5rem;
  font-weight: 200;
}
h3 span {
  font-weight: normal;
}

h4 {
  font-size: 1.7rem;
  font-weight: 200;
}
h4 span {
  font-weight: normal;
}

html,
body {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

#preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#preloader-wrapper.loaded {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
#preloader-wrapper.loaded #preloader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
#preloader-wrapper.loaded .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#preloader-wrapper.loaded .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#preloader-wrapper #preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#preloader-wrapper #preloader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#preloader-wrapper #preloader::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#preloader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}
#preloader-wrapper .loader-section.section-left {
  left: 0;
}
#preloader-wrapper .loader-section.section-right {
  right: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
header {
  width: 100%;
  padding: 1rem 3rem;
  background: #101a4c;
  background: linear-gradient(to left, #101a4c, #141E30);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 99 !important;
}
header .menu-block {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}
header .menu-block .header-mobile-menu {
  background-color: transparent;
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
  position: relative;
  border: none;
}
header .menu-block .header-mobile-menu::after {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 0.2rem;
  border-radius: 7px;
  top: 0;
  left: 0;
  transform: translate(9px, 14px);
  background-color: #fff;
  box-shadow: 0 11px 0 #fff, 0 22px 0 #fff;
}
header .menu-block .logo-wrap {
  width: 120px;
  min-width: 50px;
}
header .menu-block .logo-wrap img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  transition: -webkit-filter 0.17s ease-out;
  transition: filter 0.17s ease-out;
  transition: filter 0.17s ease-out, -webkit-filter 0.17s ease-out;
}
header .menu-block .logo-wrap img:hover {
  -webkit-filter: drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5));
}
header .menu-block .header-right-block {
  display: inherit;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
header .menu-block .header-right-block .menu-wrap {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 1rem;
}
header .menu-block .header-right-block .menu-wrap li {
  padding: 1rem;
  color: #bdbec0;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease-out;
}
header .menu-block .header-right-block .menu-wrap li:nth-child(1) {
  color: #0062c9;
}
header .menu-block .header-right-block .menu-wrap li:hover {
  color: #fff;
}
header .menu-block .header-right-block .search-place {
  position: relative;
  padding: 0 2rem 0;
}
header .menu-block .header-right-block .search-place::before {
  content: "";
  position: absolute;
  height: 3.5rem;
  border-left: solid 1px #787878;
  top: 0;
  left: 0;
}
header .menu-block .header-right-block .search-place .search-place-md-screen {
  display: none;
}
header .menu-block .header-right-block .search-place form {
  flex: 1;
  position: relative;
}
header .menu-block .header-right-block .search-place form label {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../media/img/search-icon.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  transform: translate(-5px, 13px);
}
header .menu-block .header-right-block .search-place form input {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  position: relative;
  background-color: transparent;
  outline: none;
  padding: 1rem 1.5rem 1rem;
  color: #fff;
  font-family: inherit;
  font-weight: 200;
  width: 80px;
  font-size: smaller;
  transition: width 0.3s ease-in;
}
header .menu-block .header-right-block .search-place form input:focus {
  width: 190px;
}

#home {
  width: 100%;
  height: calc(98vh - 72px);
  margin-top: 92px;
  overflow: hidden;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000000;
}
.slideshow-container .mySlides {
  display: none;
}
.slideshow-container .mySlides::after {
  content: "";
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.1) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
}
.slideshow-container .mySlides .slider-main-text-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  z-index: 7;
}
.slideshow-container .mySlides .slider-main-text-container p:nth-child(1) {
  color: #fff;
  font-size: calc(2vw + 35px);
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.slideshow-container .mySlides .slider-main-text-container p:nth-child(1) span {
  color: rgba(255, 255, 255, 0.5);
}
.slideshow-container .mySlides .slider-main-text-container p:nth-child(2) {
  color: #fff;
  font-size: calc(1.1vw + 12px);
  letter-spacing: -1px;
  margin-top: 2rem;
}
.slideshow-container .mySlides.fade {
  -webkit-animation-name: fadeSlider;
  -webkit-animation-duration: 3s;
  animation-name: fadeSlider;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.slideshow-container .mySlides img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slideshow-container .mySlides.active {
  display: block;
}
.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  z-index: 7;
  top: 42%;
  opacity: 0.3;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  transition: background-color 0.7s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0 3px 3px 0;
}
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .pagination-area {
  position: absolute;
  display: flex;
  z-index: 7;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
  justify-content: space-evenly;
}
.slideshow-container .pagination-area .line {
  cursor: pointer;
  height: 4px;
  width: 14vw;
  margin: 0 2px 1rem;
  background-color: rgba(187, 187, 187, 0.4);
  display: inline-block;
  transition: background-color 0.7s ease-in;
  position: relative;
}
.slideshow-container .pagination-area .line:hover .load-bar-line, .slideshow-container .pagination-area .line.active .load-bar-line {
  width: 100%;
  transition: width 7s ease-out;
}
.slideshow-container .pagination-area .line .load-bar-line {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 0%;
  height: 4px;
  transition: width 0.7s ease-out;
}

@-webkit-keyframes fadeSlider {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeSlider {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#meet-us {
  padding: 3rem;
  background-image: linear-gradient(180deg, #283254, #101a4a);
}
#meet-us .content-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem 2rem;
  max-width: 1200px;
  min-height: 260px;
  gap: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
#meet-us .content-wrap.visiblePage {
  opacity: 1;
  transform: translate(0);
}
#meet-us .content-wrap .meet-us-item {
  display: inherit;
  flex: 1;
  min-width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  font-family: inherit;
  font-weight: 200;
  font-size: 1.1rem;
  gap: 2.5rem;
  color: #bbb;
  transition: font-size 0.3s ease-in;
}
#meet-us .content-wrap .meet-us-item:hover {
  font-size: 1.11rem;
  color: #f1f1f1;
}
#meet-us .content-wrap .meet-us-item:hover span {
  font-size: 2rem;
}
#meet-us .content-wrap .meet-us-item:hover span::after {
  width: 97px;
  height: 3px;
}
#meet-us .content-wrap .meet-us-item span {
  font-size: 1.5rem;
  position: relative;
  transition: font-size 0.3s ease-in;
}
#meet-us .content-wrap .meet-us-item span::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2.5px;
  background-color: #ee3236;
  bottom: -17px;
  left: 0;
  transition: width 0.3s ease-in-out, background-color 0.7s ease-in-out;
}

#services {
  background: linear-gradient(to right, #0f0c29, rgba(48, 43, 99, 0.5), #24243e);
  box-shadow: inset 0 7px 21px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  transition: background-color 0.3s ease-in;
}
#services .content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 7rem 2rem 9rem;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
#services .content-wrap.visiblePage {
  opacity: 1;
  transform: translate(0);
}
#services .content-wrap .title-services-wrap h3 {
  color: rgba(255, 255, 255, 0.7);
}
#services .content-wrap .title-services-wrap h3 span {
  color: #fff;
}
#services .content-wrap .sci {
  display: inherit;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  gap: 3rem;
  justify-content: space-evenly;
}
#services .content-wrap .sci li {
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04), inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 21px;
  list-style-type: none;
  padding: 3.5rem 1.7rem;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
}
#services .content-wrap .sci li:nth-child(1):hover {
  background-color: #407ba7;
}
#services .content-wrap .sci li:nth-child(2):hover {
  background-color: #004e89;
}
#services .content-wrap .sci li:nth-child(3):hover {
  background-color: #00043a;
}
#services .content-wrap .sci li:nth-child(4):hover {
  background-color: #ff002b;
}
#services .content-wrap .sci li:nth-child(5):hover {
  background-color: #800016;
}
#services .content-wrap .sci li:nth-child(6):hover {
  background-color: #c00021;
}
#services .content-wrap .sci li:hover::before {
  opacity: 0.7;
  transform: translate(-50%, calc(-50% + 120px));
}
#services .content-wrap .sci li::before {
  content: attr(data-text);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, calc(-50% + 150px));
  pointer-events: none;
  font-size: 7vw;
  font-weight: 900;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  opacity: 0;
}
#services .content-wrap .sci li a {
  display: flex;
  flex-wrap: wrap;
  width: 64px;
  height: 64px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  pointer-events: none;
}
#services .content-wrap .sci li a img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  transform: translateY(-131px) translateZ(20px);
}

#site-branding {
  background-color: #f0f8ff;
  padding: 3rem;
}
#site-branding .content-wrapper {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}
#site-branding .content-wrapper .branding-txt-container {
  padding: 1rem;
  opacity: 0;
  flex: 1;
  flex-basis: 270px;
  transform: translateX(-40px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
#site-branding .content-wrapper .branding-txt-container.visiblePage {
  opacity: 1;
  transform: translateX(0);
}
#site-branding .content-wrapper .branding-txt-container .branding-title {
  margin-bottom: 2.5rem;
}
#site-branding .content-wrapper .branding-txt-container .branding-title h3 span {
  color: #0062c9;
}
#site-branding .content-wrapper .branding-txt-container .branding-txt {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#site-branding .content-wrapper .branding-txt-container .branding-txt p {
  font-family: inherit;
  font-weight: 100;
  font-size: 1.25rem;
  color: #010101;
}
#site-branding .content-wrapper .branding-img-container {
  height: 300px;
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
#site-branding .content-wrapper .branding-img-container.visiblePage {
  opacity: 1;
  transform: translateX(0);
}
#site-branding .content-wrapper .branding-img-container img {
  width: 100%;
  min-width: 270px;
  -o-object-fit: cover;
  object-fit: cover;
  transform: translateY(-85px);
  transition: transform 0.7s ease-in-out;
}

#our-projects {
  padding: 3rem 0;
  background-color: #fff;
}
#our-projects .content-wrap {
  display: flex;
  max-width: 1200px;
  padding: 1rem 2rem 2.5rem;
  margin: 0 auto;
}
#our-projects .slider-draggable-container {
  position: relative;
}
#our-projects .slider-draggable-container span {
  display: inline-block;
  width: auto;
  cursor: pointer;
  position: absolute;
  z-index: 7;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4.5rem;
  line-height: 4.5rem;
  border-radius: 4px;
  border: solid 2px #fff;
  color: #fff;
  opacity: 0.7;
  transition: background-color 0.7s ease-out, opacity 0.7s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#our-projects .slider-draggable-container span:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
#our-projects .slider-draggable-container #btn-prev {
  left: -7px;
  padding: 0.5rem 1rem;
  display: none;
}
#our-projects .slider-draggable-container #btn-next {
  right: -7px;
  padding: 0.5rem 1rem;
}
#our-projects .slider-draggable-container .slider-draggable {
  overflow: hidden;
  padding: 1.5rem 0;
  font-size: 0px;
  white-space: nowrap;
}
#our-projects .slider-draggable-container .slider-draggable.dragging-on {
  cursor: grab;
}
#our-projects .slider-draggable-container .slider-draggable .slide-item {
  display: inline;
}
#our-projects .slider-draggable-container .slider-draggable .slide-item:hover img {
  transform: scale(1.1);
  position: relative;
  z-index: 7;
  filter: contrast(1);
}
#our-projects .slider-draggable-container .slider-draggable .slide-item img {
  height: 37vh;
  -o-object-fit: cover;
  object-fit: cover;
  width: 25%;
  filter: contrast(0.5);
  transition: transform 0.17s ease-in, filter 0.17s ease-out;
}
@media screen and (max-width: 900px) {
  #our-projects .slider-draggable-container .slider-draggable .slide-item img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  #our-projects .slider-draggable-container .slider-draggable .slide-item img {
    width: 100%;
  }
}

#our-brands {
  padding: 3rem;
  background-color: #fff;
}
#our-brands .slide-rail-container {
  display: flex;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
  opacity: 1;
  overflow: hidden;
}
#our-brands .slide-rail-container .slide-track {
  display: inherit;
  -webkit-animation: scroll-slider 24s linear infinite;
  animation: scroll-slider 42s linear infinite;
  width: 2400px;
}
#our-brands .slide-rail-container .slide-track .slide-item {
  width: 200px;
}
#our-brands .slide-rail-container .slide-track .slide-item img {
  width: 10vw;
  min-width: 95px;
  max-width: 120px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  transition: opacity 0.3s ease-in, -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in, opacity 0.3s ease-in;
  transition: filter 0.3s ease-in, opacity 0.3s ease-in, -webkit-filter 0.3s ease-in;
}
#our-brands .slide-rail-container .slide-track .slide-item img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 0.9;
}

@-webkit-keyframes scroll-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}
@keyframes scroll-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}
#our-team {
  padding: 3rem 3rem 4.5rem;
  background: url("../media/img/blog/1.jpg") top center no-repeat;
  background-size: cover;
  overflow: hidden;
}
#our-team .content-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
  overflow: hidden;
  padding: 0 1.7rem;
  opacity: 1;
  text-align: center;
}
#our-team .content-wrap h3 {
  color: #fff;
}
#our-team .content-wrap p {
  color: #fff;
  font-weight: 200;
  font-size: 1.2rem;
}
#our-team .content-wrap .swiper_team_section {
  width: 100%;
  height: 439px;
  padding-bottom: 4.5rem;
  position: relative;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team {
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: transform 0.7s ease-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(to top, #000, transparent);
  transition: opacity 0.7s linear;
  opacity: 0;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team:hover {
  transform: translateY(15px);
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team:hover::before {
  opacity: 1;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team:hover .team-text {
  opacity: 1;
  transform: translateY(0);
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team img.fix-bg {
  position: absolute;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team .team-text {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.3s linear, transform 0.3s linear;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team .team-text h2 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1px;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team .team-text p {
  font-size: 15px;
  margin-top: 8px;
  color: #bdbec0;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team .team-text .team-social-media {
  padding: 1rem 0;
  position: relative;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team .team-text .team-social-media a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border: solid 1.7px #bdbec0;
  border-radius: 100vh;
  margin: 0 5px;
  overflow: hidden;
}
#our-team .content-wrap .swiper_team_section .swiper-slide .single-team .team-text .team-social-media a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#our-team .content-wrap .swiper_team_section .swiper-button-prev,
#our-team .content-wrap .swiper_team_section .swiper-button-next {
  --swiper-navigation-size: 2rem;
  color: #fff;
  font-size: 5rem;
  background-color: transparent;
  height: 50px;
  width: 50px;
  margin-top: -35px;
  z-index: 8;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
#our-team .content-wrap .swiper_team_section .swiper-button-prev {
  left: -40px;
}
#our-team .content-wrap .swiper_team_section .swiper-button-next {
  right: -40px;
}
#our-team .content-wrap .swiper_team_section .swiper-pagination {
  --swiper-pagination-color: #393636;
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}
#our-team .content-wrap .swiper_team_section .swiper-pagination .swiper-pagination-bullet {
  box-shadow: inset 0 0 0 1px #fff;
}
#our-team .content-wrap .swiper_team_section .swiper-pagination .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}
#our-team .content-wrap .swiper_team_section:hover .swiper-button-prev,
#our-team .content-wrap .swiper_team_section:hover .swiper-button-next {
  opacity: 1;
}

Footer {
  padding: 3rem;
  background-color: #1c1c1c;
}
Footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
Footer .container .foo-space {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
Footer .container .foo-space.fs-space {
  border-bottom: 1px solid #393636;
  padding-bottom: 3rem;
}
Footer .container .foo-space.fs-last-space {
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}
Footer .container .foo-space .container-logo {
  width: 100px;
  min-width: 50px;
}
Footer .container .foo-space .container-logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
Footer .container .foo-space .social-media {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
Footer .container .foo-space .social-media li {
  padding: 1rem;
  opacity: 0.3;
  transition: opacity 0.3s ease-in;
}
Footer .container .foo-space .social-media li:hover {
  opacity: 1;
}
Footer .container .foo-space .social-media li a {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
}
Footer .container .foo-space .social-media li a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
Footer .container .foo-space .left-block {
  display: inherit;
  flex: 1;
  flex-direction: column;
  gap: 2.5rem;
}
Footer .container .foo-space .left-block .contact-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
Footer .container .foo-space .left-block .contact-items .contact-item {
  display: inherit;
  flex-direction: column;
}
Footer .container .foo-space .left-block .contact-items .contact-item .contact-item-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
Footer .container .foo-space .left-block .contact-items .contact-item .contact-item-header .icon-item {
  width: 47px;
  height: 47px;
  padding: 0.8rem;
  background-color: #393636;
  border-radius: 100vh;
  display: inline-block;
  opacity: 0.4;
}
Footer .container .foo-space .left-block .contact-items .contact-item .contact-item-header .icon-item img {
  width: 100%;
}
Footer .container .foo-space .left-block .contact-items .contact-item .contact-item-header h4 {
  color: #bdbec0;
  display: inline-block;
}
Footer .container .foo-space .left-block .contact-items .contact-item p {
  color: #787878;
  font-size: 1rem;
  max-width: 190px;
  margin-left: 5rem;
}
Footer .container .foo-space .left-block .container-copyright-txt {
  max-width: 350px;
  flex: 1;
}
Footer .container .foo-space .left-block .container-copyright-txt p {
  font-family: inherit;
  font-size: 1rem;
  color: #787878;
}
Footer .container .foo-space .left-block .container-copyright-txt p:nth-child(2) {
  margin-top: 2rem;
}
Footer .container .foo-space .left-block .container-copyright-txt p span {
  color: #393636;
}
Footer .container .foo-space .container-contact-us {
  flex: 1;
}
Footer .container .foo-space .container-contact-us h4 {
  color: #787878;
  margin-bottom: 1rem;
}
Footer .container .foo-space .container-contact-us form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
Footer .container .foo-space .container-contact-us form textarea {
  background-color: transparent;
  border: 0;
  border: solid 2px #393636;
  color: #393636;
  font-family: inherit;
  padding: 0.8rem;
  resize: none;
  outline-color: #fff;
}
Footer .container .foo-space .container-contact-us form input {
  border: 0;
  background-color: transparent;
  border: solid 2px #393636;
  padding: 0.8rem;
  color: #393636;
  font-size: 1rem;
  outline-color: #fff;
}
Footer .container .foo-space .container-contact-us form input[type=submit] {
  background-color: transparent;
  width: 130px;
  font-weight: 900;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
Footer .container .foo-space .container-contact-us form input[type=submit]:hover {
  border: solid 2px #787878;
  color: #787878;
}

@media screen and (max-width: 997px) {
  header {
    overflow: visible;
  }
  header .menu-block .header-right-block .search-place {
    padding: 0;
  }
  header .menu-block .header-right-block .search-place .search-place-md-screen {
    display: block;
  }
  header .menu-block .header-right-block .search-place .search-place-md-screen button {
    background-color: #00043a;
    border: none;
    border-radius: 100vh;
    width: 2.7rem;
    height: 2.7rem;
    padding: 0.5rem;
    transition: background-color 0.3s linear;
  }
  header .menu-block .header-right-block .search-place .search-place-md-screen button:hover {
    background-color: #004e89;
  }
  header .menu-block .header-right-block .search-place .search-place-md-screen button.active-search img {
    filter: drop-shadow(0px -2px 8px rgb(255, 255, 255));
  }
  header .menu-block .header-right-block .search-place .search-place-md-screen button img {
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s linear;
  }
  header .menu-block .header-right-block .search-place:before {
    display: none;
  }
  header .menu-block .header-right-block .search-place form {
    display: block;
    opacity: 0;
    position: absolute;
    transform: translate(-207px, 51px);
    transition: opacity 0.3s ease-in;
  }
  header .menu-block .header-right-block .search-place form.md-screen {
    opacity: 1;
    background-color: #fff;
    border-radius: 40px 40px 48px 40px;
    box-shadow: inset 5px -5px 10px rgba(0, 0, 0, 0.2);
    border: #004e89 2px solid;
  }
  header .menu-block .header-right-block .search-place form.md-screen::after {
    content: "";
    display: block;
    background-color: #fff;
    border: #004e89 2px solid;
    position: absolute;
    top: -15px;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  header .menu-block .header-right-block .search-place form.md-screen label {
    display: none;
  }
  header .menu-block .header-right-block .search-place form.md-screen input {
    color: #000;
    width: 230px;
    font-size: 1rem;
  }
  main #site-branding {
    overflow: hidden;
  }
  main #site-branding .content-wrapper {
    justify-content: center;
  }
  main #site-branding .content-wrapper .branding-img-container.visiblePage img {
    transform: translateY(-28px);
  }
}
@media screen and (max-width: 730px) {
  header .menu-block .header-mobile-menu {
    display: block;
  }
  header .menu-block .logo-wrap {
    width: 87px;
  }
  header .menu-block .header-right-block {
    gap: 0;
  }
  header .menu-block .header-right-block .menu-wrap {
    display: none;
  }
  main #home {
    margin-top: 77px;
  }
}

/*# sourceMappingURL=styles.css.map */
